@tailwind base;
@tailwind components;
@tailwind utilities;


div {
  align-items: center;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-Regular.ttf');
}

html > * {
    font-family: Poppins, system-ui;
}

a,
button {
  transition: all 300ms ease-in-out;
}

a:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.mvn-button {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.mvn-button:hover {
  --tw-translate-y: -0.25rem/* -4px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.mvn-button:active {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

* {
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
}
