<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Portfolio for Carl Johan Gützkow. Computer Science Student. Working for Ei Solutions AS.">
    <title>Carl Johan Gützkow | Portfolio</title>
    <link href="/templates/css/global.css" rel="stylesheet" />
    <link href="/templates/css/tailwind-output.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <script>
        let menuOpen = false;
        function toggleMenu(mobileMenuOpen) {
          const menuEl = document.getElementById("menu-links");
          const mobileMenuClasses = ["translate-y-0", "opacity-100", "opacity-0", "-translate-y-full", "h-0"]
          for (let i = 0; i < mobileMenuClasses.length; i++) {
            menuEl.classList.toggle(mobileMenuClasses[i]);
          }
          const hamburgerEl = document.getElementById("hamburger-icon").classList.toggle("hidden")
          const crossEl = document.getElementById("cross-icon").classList.toggle("hidden")
        }

      </script>
      <div class="flex flex-col overflow-hidden justify-between items-stretch min-h-screen bg-gradient-radial from-light-red to-light-blue">
        <header class="bg-transparent z-30">
          <nav class="container mx-auto p-6 lg:flex lg:items-center lg:justify-between">
            <div class="flex items-center justify-between">
              <div class="z-20"><a class="text-2xl font-bold text-gray-800 hover:text-gray-700 lg:text-3xl" href="/">Carl Gützkow</a></div>
              <div class="flex lg:hidden">
                <button class="text-gray-900 hover:text-gray-600 z-30" aria-label="toggle menu" onclick="toggleMenu(!menuOpen); menuOpen = !menuOpen">
                  <div id="hamburger-icon">
                    {* component images/icons/hamburger.svg *}
                  </div>
                  <div id="cross-icon" class="hidden">
                    {* component images/icons/cross.svg *}
                  </div>
              </div>
            </div>
            <div class="opacity-0 -translate-y-full h-0 inset-x-0 w-full bg-transparent px-6 py-4 shadow-md transition-all duration-200 ease-in-out lg:relative lg:top-0 lg:mt-0 lg:flex lg:w-auto lg:translate-y-0 lg:items-center lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none" id="menu-links">
              <div class="flex flex-col space-y-4 lg:mt-0 lg:flex-row lg:space-y-0">
                {* for link in page_links {
                  <a class="text-sm font-medium text-gray-700 hover:text-blue-500 lg:mx-4 lg:mvn-button" href="{* get link.href *}">{* get link.label *}</a>
                } *}
              </div>
            </div>
          </nav>
        </header>
        <main class="grow container relative">
          {* slot default *}
        </main>
        <footer class="p-4 z-10 md:flex md:items-center md:justify-around md:p-6 bg-off-white shadow-[0px_0px_10px_2px_rgba(0,0,0,0.3)]">
          <span class="text-sm text-gray-500 sm:text-center">
            © <!-- -->{* get current_year *}<!-- --> <a class="underline" target="_blank" href="https://github.com/cjgutz">Carl Gützkow</a>
          </span>
          <ul class="flex flex-wrap items-center mt-3 md:mt-0">
            {* for link in page_links {
            <li class="mvn-button"><a class="mr-4 text-sm text-gray-500 hover:text-blue-500 md:mr-6" href="{* get link.href *}">{* get link.label *}</a></li>
            } *}
          </ul>
        </footer>
      </div>
    </div>
  </body>
</html>
