{* comment {
  Takes in a list of page information called "pages". Each has a name.
} *}
{* component templates/base.html {
  <div class="w-full my-10">
    <div class="m-10">
      <h1 class="text-3xl lg:text-5xl font-bold lg:w-2/3">Courses</h1>
      <p class="text-gray-700">Following is a list of pages with information about some of the courses I have taken.</p>
    </div>
    <div class="grid lg:grid-cols-3 grid-cols-1">
      {* for page in course_pages {
        <a href="/courses/{* get page.name *}">
          <div class="border-2 border-gray-500 rounded-lg p-4">
            <h4 class="text-lg capitalize">{* get page.name *}</h4>
          </div>
        </a>
      } *}
    </div> 
  </div>
} *}

