{* component templates/base.html {
      <div class="w-full my-10">
        <div class="m-10">
          <h2 class="text-3xl lg:text-5xl font-bold lg:w-2/3">
            My projects and experiences
          </h2>
        </div>
  
        <div class="relative border-l border-gray-600 list-none mx-8">
          {* for exp in experience_list {
            {* component templates/experience-node.html id=exp.id  date_start=exp.date_start show_date_end=exp.show_date_end date_end=exp.date_end title=exp.title description=exp.description demo_link=exp.demo_link source_link=exp.source_link image=exp.image *}
          } *}
        </div>
      </div>
} *}
