{* component templates/base.html { 
<div>
  <div class="absolute top-0 overflow-visible">
    <div class="text-transparent font-mono lg:text-[30rem] text-[20rem] m-10 mt-20 blur-md whitespace-nowrap" style="-webkit-text-stroke:7px gray">
      <p class="md:ml-20 -mt-44 break-keep" style="transform:translateX(-0rem)">Carl</p>
      <p class="-mt-48 break-keep" style="transform:translateX(0rem)">Gützkow</p>
    </div>
  </div>
  <div class="relative grid grid-cols-1 lg:grid-cols-2 place-items-center w-full full">
    <div class="flex flex-col justify-center w-full">
      <div class="relative m-8 w-[300px] md:w-[500px] h-[300px] md:h-[500px]">
        <img alt="Carl Gützkow" src="/images/carl/eisolutions-profile.webp" width="500" height="500" decoding="async" data-nimg="1" class="absolute top-0 z-10" loading="lazy" style="color:transparent">
      </div>
      <div class="text-2xl text-center px-3">
        <span>
          <span class="md:text-2xl text-md text-center px-3 whitespace-nowrap">GIS</span>
          <span> o </span></span>
        <span>
          <span class="md:text-2xl text-md text-center px-3 whitespace-nowrap">Backend</span>
          <span> o </span></span>
        <span>
          <span class="md:text-2xl text-md text-center px-3 whitespace-nowrap">DevOps</span>
        </span>
      </div>
    </div>
    <div class="flex flex-col justify-center max-lg:self-start">
      <div class="text-center text-5xl font-bold m-5">👋 Welcome, I'm Carl</div>
      <div class="flex flex-row justify-center">
        <a class="mx-2" href="https://github.com/cjgutz">
          <img alt="Github" src="/images/icons/github.svg" width="50" height="50" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
        </a>
        <a class="mx-2" href="https://www.linkedin.com/in/carl-g%C3%BCtzkow-3555511a4/">
          <img alt="LinkedIn" src="/images/icons/linkedin.svg" width="50" height="50" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
        </a>
        <a class="mx-2" href="mailto:cjgutzkow@gmail.com">
          <img alt="Email" src="/images/icons/email.svg" width="50" height="50" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
        </a>
        <a class="mx-2" href="/cv.pdf">
          <img alt="CV" src="/images/icons/cv.svg" width="50" height="50" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
        </a>
      </div>
      <div class="grid grid-cols-2 gap-4 m-5">
        {* for button in page_links { 
          {* component templates/front-button.html label=button.label link=button.href *}
        } *}
      </div>
    </div>
  </div>
</div>
<div class="w-full mt-96 sm-p-10 p-4">
  <h1 id="about" class="text-4xl font-bold">About me</h1>
  <div class="p-10 flex flex-row gap-x-3 overflow-x-scroll 2xl:overflow-hidden snap-x snap-mandatory">
    {* for image in carl_images {
    <img alt="{* get image.alt *}"  src="/images/carl/{* get image.path *}" width="2316" height="2316" decoding="async" data-nimg="1" class="snap-center max-w-[500px] h-[500px]" loading="lazy" style="color:transparent">
      } *}
</div>
  <div class="grid place-items-center">
    <p class="p-10 max-w-4xl whitespace-pre-line text-lg">
      I'm a 21 year old software developer. I enjoy working with people whom I can share my competence with while also learning advanced concepts and technologies.
      My story of programming began in 7th grade with the kid friendly coding environment Scratch. From that point on I taught myself many computer science concepts and explored some of the possibilities in this vast field. 
      Studying computer science, I further developed my skills and attained a deeper understanding of the field while building a foundation for valuable coding practices. 
    </p>
  </div>
} *}
