{* component templates/base.html {
<div class="w-full my-10">
  <div class="m-10">
    <h1 class="text-3xl lg:text-5xl font-bold lg:w-1/2">Expertise, Skills, Knowledge, and Technology</h1>

  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10 p-2 m-5 items-stretch">
    {* for skill in skills {
    <div id="{* get skill.name *}"
      class="flex flex-col gap-5 justify-center bg-off-white p-3 shadow-xl rounded-tl-xl rounded-br-xl">
      <div class="grid grid-cols-1 h-full md:grid-cols-3 gap-6 items-center">
        <div class="flex flex-wrap justify-center flex-row md:flex-col gap-6">
          <h3 class="text-3xl text-center font-bold break-keep">{* get skill.name *}</h3>
          <img alt="Icon of {* get skill.name *}" src="/images/skills/{* get skill.image*}" width="100" height="100"
            decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
        </div>
        <div class="md:col-span-2 flex flex-col h-full">
          <p class="mb-4 text-sm grow">{* get skill.description *}</p>
        </div>
      </div>
    </div>
    } *}
  </div>
  } *}
